* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21.75rem;
  border-radius: 0.875rem;
}

.advice-id {
  color: hsl(150, 100%, 66%);
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  padding-top: 3rem;
  padding-bottom: 1.75rem;
}

.advice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.advice {
  color: hsl(193, 38%, 86%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0 1rem;
}

.divider {
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
}

.divider-2 {
  display: none;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2rem;
  left: auto;
  background-color: hsl(150, 100%, 66%);
  padding: 1.25rem;
  border: none;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.dice:active {
  transform: scale(0.8);
}

@media (min-width: 37rem) {
  .container {
    width: 33.5rem;
  }

  .advice-id {
    font-size: 0.8125rem;
  }

  .advice {
    font-size: 1.75rem;
    max-width: 30rem;
  }

  .divider-1 {
    display: none;
  }

  .divider-2 {
    display: block;
  }
  .dice:hover {
    cursor: pointer;
    box-shadow: 0 0 2.5rem hsl(150, 100%, 66%);
  }
}
